extends layouts/main-layout.pug

block content
    div(class="d-flex justify-content-center")
        h1 Ooops... Something went terribly wrong...
    div(class="d-flex justify-content-center")
        h3 We're working on fixing this, sorry for that!
        