extends ../layouts/main-layout.pug 

block content
    main 
        if orders.length > 0
            ul 
                each order in orders
                    li
                        h1 Order № #{order._id}
                        p List of products:
                        ul 
                            each item in order.items
                                li #{item.title} (#{item.quantity})

                        
            
        else 
            div(class='text-3xl font-bold text-blue-500') There are no orders yet