extends ../layouts/main-layout.pug 
block styles 
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/product.css")
block content
    main 
        if orders.length > 0
            ul 
                each order in orders
                    li
                        h1 Order № #{order._id}
                        p List of products:
                        ul 
                            each item in order.items
                                li #{item.title} (#{item.quantity})

                        
            
        else 
            h1 There are no orders yet