extends ../layouts/main-layout.pug

block content
    div(class="d-flex justify-content-center")
        form(action=(editing === "true" ? "/admin/edit-product" : "/admin/add-product"), method="POST")
            div(class="mb-2")
                label(for="title", class="form-label") Title
                input(type="text", name="title", id="title", value=(editing === "true" ? product.title : ""), class="form-control")
            div(class="mb-2")
                label(for="title", class="form-label") Price
                input(type="number" name="price" id="price" step="0.01", value=(editing === "true" ? product.price : ""), class="form-control")
            div(class="mb-2")
                label(for="title", class="form-label") Image Url
                input(type="text", name="imageUrl", id="imageUrl", value=(editing === "true" ? product.imageUrl : ""), class="form-control")
            div(class="mb-2")
                label(for="title", class="form-label") Description
                textarea(name="description", id="description", rows="5", class="form-control") #{editing === "true" ? product.description : ""}
            if editing === "true"
                input(type="hidden", value=(product._id), name="id") 
            div(class="")
                input(type="hidden", name="_csrf", value=csrfToken)
                button(type="submit", class="btn btn-primary") #{editing === "true" ? "Update Product" : "Add Product"}  
            

        