extends ../layouts/main-layout.pug 

block content
    div(class="d-flex justify-content-center")
        form(action="/reset" method="POST" novalidate)
            div(class="mb-2")
                label(for="email" class="form-label") Type email connected to your account
                input(type="text" name="email" id="email" value=oldInputs ? oldInputs.email : '' class=`form-control ${errors && errors.find(error => error.path === 'email') ? 'is-invalid' : ''}`)
                div(class="invalid-feedback") Please enter valid email 
            div(class="mb-2")
                input(type="hidden", name="_csrf", value=csrfToken)
                button(type="submit" class="btn btn-primary") reset password 
            