extends ../layouts/main-layout.pug 

block content
    div(class="d-flex justify-content-center")
        form(action="/reset" method="POST")
            if errorMessage 
                div(class="mb-2") #{errorMessage}
            div(class="mb-2")
                label(for="email" class="form-label") Type email connected to your account
                input(type="text" name="email" id="email" class="form-control")
            div(class="mb-2")
                input(type="hidden", name="_csrf", value=csrfToken)
                button(type="submit" class="btn btn-primary") reset password 
            